@import "./variables";
.form{
    width: 80%;
    min-height: 100vh;
    margin: 2rem auto;
    @include display-estructure(flex-start, center);
    flex-direction: column;
    gap: 1rem;
    h1{

        @include subtitle1;
    };
    label{
        align-self: flex-start;
        @include content-medium
    };
    input{
        @extend.search-box;
        @include content-medium
    };
    p{
        @include small;
    };
    .error-message{
        color: $negative;
    }

};
.buttons-container{
    width: 100%;
    margin-top: 1rem;  
    @include display-estructure(center, center) ;
    gap: 1rem;
};
.submit-button, .cancel-button{
    width: 10rem;
    padding: 1rem;
    @include content-medium;
    border-radius: 1.5rem;
    border: none;

};
.submit-button{
    color: $white;
    background-color: $secondary1;
};
.cancel-button{
    color: $black;
    background-color: $background3;
};

@media(min-width:500px){
    .form{
        width: 60%;
    };
};
@media(min-width:600px){
    .form{
        width: 50%;
    };
};
@media(min-width:800px){
    .form{
        width: 40%;
    };
};
@media(min-width:1000px){
    .form{
        width: 30%;
    };
};