@import "./_variables";
.navbar{
    width: 100%;
    height: 10vh;
    background-color: $primary;
    img{
        width: 68px;
        height: auto;
    };
    .navbar-title{
        margin: 0px;
        text-decoration: none;
        font-size: $size-title;
        font-family: $font-title;
        color: $white;
    };
    .navbar-menu{
        width: 68px;
        @include display-estructure(right, center);
        .menu-icon{
            color: $white;
            font-size: $size-title;
        }
    }
    .navbar-menu:hover{
        cursor: pointer;
    }
};

.footer{
    height: 12vh;
    width: 100%;
    margin-top: 1rem;
    padding: 8px 1rem;
    @include display-estructure(space-between, center);
    background-color: $primary;
    color: $white;
    @include small;
    .social-media-section{
        width: 60%;
        p{
            margin: 0px;
        }
    };
    .actions-section{
        .register-link-true{
            text-decoration: none;
            color: $white;
        };

    }
    
}

@media (min-width: 450px){
    .navbar{
        
        img{
            width: 81.6px;
        };
        p{
            font-size:1.2*$size-title;
        }
        .navbar-menu{
            width: 81.6px;
            .menu-icon{
                font-size: 1.2*$size-title;
            }
        }
    };

    .footer {
        font-size: 1.2*$size-content-small;
    }
}