@import "./variables";

.recipes-dashboard{
    top: 50px;
    min-height: 100vh;
    h1{
        width: 70%;
        padding: 1.2rem;
        margin-bottom: 1rem;
        font-family: $font-subtitule1;
        font-size: $size-subtitule1;
    }
}
.grill-recipes-container{
    width: 100%;
    margin: 1rem auto 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}
.grill-recipe-content{
    width: 150px;
};
.spinner-one{
    color: $primary;
};
.spinner-two{
    color: $secondary1;
};
.spinner-three{
    color: $secondary2;
};

@media (min-width: 800px){
    .grill-recipes-container{
        width: 85%;
    }
}
