@import "./variables";
@import "./home";
@import "./home-principal-section";
@import "./recipe-card";
@import "./filter-card";
@import "./scroll-container";
@import "./open-menu";
@import "./searchBox";
@import "./recipes-grill";
@import "./mesage";
@import "./secondNavBar";
@import "./recipe-detail";
@import "./notFoundPage";
@import "./formStyle";

:root{
    font-size: 62.5%;
}



body{
    background-color: $background1;
    min-width: 360px;
}



