@import "./variables";
@import "./home";
@import "./home-principal-section";
@import "./recipe-card";
@import "./filter-card";
@import "./scroll-container";
@import "./open-menu";
@import "./searchBox";

:root{
    font-size: 62.5%;
}



body{
    background-color: $background1;
    min-width: 360px;
}

