@import "main";
/* -----Variables----- */
$hero-heigth1 : 20rem;
$hero-heigth2 : 30vh;
$hero-heigth3 : 50vh;
$hero-heigth4 : 70vh;
$hero-heigth5 : 90vh;

/* misxins */
@mixin display-estructure($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
};
@mixin shadow{
    box-shadow: rgba(58, 57, 57, 0.541) 0px 2px 8px 0px;
}
@mixin shadow-card{
    box-shadow: 12px 15px 5px -8px rgba(133,125,125,0.45);
-webkit-box-shadow: 12px 15px 5px -8px rgba(133,125,125,0.45);
-moz-box-shadow: 12px 15px 5px -8px rgba(133,125,125,0.45);
};

.home-principal-section{
    display: block;
    .hero{
        width: 100%;
        height: $hero-heigth1;
        padding: 2rem 0;
        @include display-estructure(center,flex-end);
        background-image: url('../../public/img/hero-big.jpg');
        background-size: cover;
    };
    .hero-message{
        width: 100%;
        height: 0.3*$hero-heigth1;
        padding: 2rem;
        @include display-estructure(center,center);
        @include subtitle1;
        background-color: hsla(4, 100%, 39%, 0.74);
        @include shadow();
        p{
            margin: 0;
            text-align: center;
            color: $background3;
        };
    };
    .subsection-container{
        width: 100%;
        .subsection-title{
            margin: 0;
            padding: 0.8rem 0.8rem 0.8rem 0.8rem;
            @include subtitle2;
        };
        .scroll, .scroll-recipe{
            height: 20rem;
            @include display-estructure(center,center );
            gap: 0.5rem;
            .arrow-active{
                right: 0;
                font-size: 2.4rem;
                font-weight: bold;
                color: $primary;
            };
            .arrow-inactive{
                font-size: 2.4rem;
                font-weight: bold;
                visibility: hidden;
            };
            .arrow-active:hover{
                cursor: pointer;
            }
            .scroll-content{
                width: 100%;
                height: 100%;
                padding: 1rem 1rem;
                @include display-estructure(left, center);
                overflow-x: scroll;
                gap: 1rem;
                .scroll-card{
                    @include display-estructure(space-between, center);
                    flex-direction: column;
                    height: 100%;
                    background-color: $background2;
                    border-radius:  12px ;
                    @include shadow-card();
                    h4, i{
                        justify-self:end;
                        text-align: center;
                        margin: 0.5rem 1rem;
                        @include content-medium;
                        color: $primary;
                        font-weight: bold;
                    }
                    img{
                        border-radius: 12px 12px 0px 0px;
                        width: 120px;
                        height: 130px;
                    };
                    
                };
            };
        };
        .scroll-recipe{
            .scroll-content{
                .scroll-card{
                    img{
                        width: 150px;
                        height: 120px
                    }
                    .scroll-card-description{
                        @include display-estructure(center, center );
                        .ratings{
                            align-self: flex-end;
                            @include display-estructure(center, center);
                            flex-direction: column;
                            .punctuation{
                                margin: 0;
                            };
                        };
                    };
                };
            };
        };
    };
};

@media (min-width:400px){
    .home-principal-section{
        .hero{
            height: $hero-heigth2;
            .hero-message{
                height: 0.4*$hero-heigth2;
                
                p{
                    font-size: 1.2*$size-subtitule1;
                }
            };
        };
        .subsection-container{
            .subsection-title{
                font-size: 1.2*$size-subtitule2;
            };
        };
    };
};
@media (min-width:500px){
    .home-principal-section{
        .hero{
            height: $hero-heigth3;
            padding: 4rem 0;
            .hero-message{

                p{
                    font-size: 1.3*$size-subtitule1;
                }
            };
        };
        .subsection-container{
            .subsection-title{
                font-size: 1.3*$size-subtitule2;
            };
        };
    };
};
@media (min-width:800px){
    .home-principal-section{
        .hero{
            height: $hero-heigth4;
            .hero-message{
                p{
                    font-size: 1.4*$size-subtitule1;
                }
            };
        };
        .subsection-container{
            .subsection-title{
                font-size: 1.4*$size-subtitule2;
            };
            .scroll, .scroll-recipe{
                .scroll-content{
                    width: 650px;
                };
            };

        };
    };
};
@media (min-width:1000px){
    .home-principal-section{
        .hero{
            width: 100%;
            height: $hero-heigth5;
            background-image: url('../../public/img/hero\ biggest.jpg');
            object-fit: cover;
            object-position: center;
            .hero-message{
                p{
                    font-size: 2*$size-subtitule1;
                }
            };
            
        };
        .subsection-container{
            .scroll{
                .scroll-content{
                    width: 90%;
                    justify-content: center;
                    gap: 2rem;
                    overflow-x: hidden;
                    .scroll-card{
                        width: 150px;
                        img{
                            width: 150px;
                        };
                    };
                };
            };
            .scroll-recipe{
                .scroll-content{
                    width: 100%;
                    overflow-x: hidden;
                };
            };
        };
    };
}
