@import "main";
.navbar{
    height: 10%;
    background-color: $primary;
    img{
        width: 68px;
        height: auto;
    };
    p{
        margin: 0px;
        font-size: $size-title;
        font-family: $font-title;
        color: $white;
    };
    .navbar-menu{
        i{
            color: $white;
            font-size: $size-title;
        }
    }
};

.footer{
    position: absolute;
    bottom: 0px;
    height: auto;
    width: 100vw;
    padding: 8px 1rem;
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    color: $white;
    @include small;
    .social-media-section{
        width: 60%;
        p{
            margin: 0px;
        }
    };
    .actions-section{
        .register-link-true{
            text-decoration: none;
            color: $white;
        };

    }
    
}

@media (min-width: 450px){
    .navbar{
        
        img{
            width: 81.6px;
        };
        p{
            font-size:1.2*$size-title;
        }
        .navbar-menu{
            i{
                color: $white;
                font-size: 1.2*$size-title;
            }
        }
    };

    .footer {
        font-size: 1.2*$size-content-small;
    }
}