/* Color Variables */
$primary : #C02E09 ;
$secondary1: #0B8318;
$secondary2: #F5E418;
$background1: #FBFAF8;
$background2 : #F5F4F2;
$background3 : #DBDBD9;
$positive : #1FF536;
$negative : #C70C00;
$white: #FBFAF8;
$black : #1E1D1D;

/* Font-family variables */
$font-title : 'Libre Baskerville', serif;
$font-subtitule1: 'Comfortaa', cursive;
$font-subtitule2 : 'Libre Baskerville', serif;
$font-content-medium : 'Comfortaa', cursive;
$font-content-small : 'Rubik', sans-serif;

/* Font-size variables */
$size-title : 24px;
$size-subtitule1: 20px;
$size-subtitule2 : 16px;
$size-content-medium : 14px;
$size-content-small : 12px;


body{
    background-color: $background1;
    font-family: $font-content-small;
    font-size: $size-content-small;
}

