:root {
  font-size: 62.5%;
}

/* Color Variables */
/* Font-family variables */
/* Font-size variables */
body {
  background-color: #FBFAF8;
  min-width: 360px;
}

/* -----Variables----- */
/* misxins */
.home-principal-section {
  display: block;
}
.home-principal-section .hero {
  width: 100%;
  height: 20rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("../../public/img/hero-big.jpg");
  background-size: cover;
}
.home-principal-section .hero-message {
  width: 100%;
  height: 6rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "News Cycle", sans-serif;
  font-size: 1.5rem;
  background-color: hsla(4, 100%, 39%, 0.74);
  box-shadow: rgba(58, 57, 57, 0.541) 0px 2px 8px 0px;
}
.home-principal-section .hero-message p {
  margin: 0;
  text-align: center;
  color: #DBDBD9;
}
.home-principal-section .subsection-container {
  width: 100%;
}
.home-principal-section .subsection-container .subsection-title {
  margin: 0;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
}
.home-principal-section .subsection-container .scroll, .home-principal-section .subsection-container .scroll-recipe {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.home-principal-section .subsection-container .scroll .arrow-active, .home-principal-section .subsection-container .scroll-recipe .arrow-active {
  right: 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: #C02E09;
}
.home-principal-section .subsection-container .scroll .arrow-inactive, .home-principal-section .subsection-container .scroll-recipe .arrow-inactive {
  font-size: 2.4rem;
  font-weight: bold;
  visibility: hidden;
}
.home-principal-section .subsection-container .scroll .arrow-active:hover, .home-principal-section .subsection-container .scroll-recipe .arrow-active:hover {
  cursor: pointer;
}
.home-principal-section .subsection-container .scroll .scroll-content, .home-principal-section .subsection-container .scroll-recipe .scroll-content {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
  gap: 1rem;
}
.home-principal-section .subsection-container .scroll .scroll-content .scroll-card, .home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #F5F4F2;
  border-radius: 12px;
  box-shadow: 12px 15px 5px -8px rgba(133, 125, 125, 0.45);
  -webkit-box-shadow: 12px 15px 5px -8px rgba(133, 125, 125, 0.45);
  -moz-box-shadow: 12px 15px 5px -8px rgba(133, 125, 125, 0.45);
}
.home-principal-section .subsection-container .scroll .scroll-content .scroll-card h4, .home-principal-section .subsection-container .scroll .scroll-content .scroll-card i, .home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card h4, .home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card i {
  justify-self: end;
  text-align: center;
  margin: 0.5rem 1rem;
  font-family: "News Cycle", sans-serif;
  font-size: 1.4rem;
  color: #C02E09;
  font-weight: bold;
}
.home-principal-section .subsection-container .scroll .scroll-content .scroll-card img, .home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card img {
  border-radius: 12px 12px 0px 0px;
  width: 120px;
  height: 130px;
}
.home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card img {
  width: 150px;
  height: 120px;
}
.home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card .scroll-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card .scroll-card-description .ratings {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-principal-section .subsection-container .scroll-recipe .scroll-content .scroll-card .scroll-card-description .ratings .punctuation {
  margin: 0;
}

@media (min-width: 400px) {
  .home-principal-section .hero {
    height: 30vh;
  }
  .home-principal-section .hero .hero-message {
    height: 12vh;
  }
  .home-principal-section .hero .hero-message p {
    font-size: 1.8rem;
  }
  .home-principal-section .subsection-container .subsection-title {
    font-size: 2.16rem;
  }
}
@media (min-width: 500px) {
  .home-principal-section .hero {
    height: 50vh;
    padding: 4rem 0;
  }
  .home-principal-section .hero .hero-message p {
    font-size: 1.95rem;
  }
  .home-principal-section .subsection-container .subsection-title {
    font-size: 2.34rem;
  }
}
@media (min-width: 800px) {
  .home-principal-section .hero {
    height: 70vh;
  }
  .home-principal-section .hero .hero-message p {
    font-size: 2.1rem;
  }
  .home-principal-section .subsection-container .subsection-title {
    font-size: 2.52rem;
  }
  .home-principal-section .subsection-container .scroll .scroll-content, .home-principal-section .subsection-container .scroll-recipe .scroll-content {
    width: 650px;
  }
}
@media (min-width: 1000px) {
  .home-principal-section .hero {
    width: 100%;
    height: 90vh;
    background-image: url("../../public/img/hero biggest.jpg");
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .home-principal-section .hero .hero-message p {
    font-size: 3rem;
  }
  .home-principal-section .subsection-container .scroll .scroll-content {
    width: 90%;
    justify-content: center;
    gap: 2rem;
    overflow-x: hidden;
  }
  .home-principal-section .subsection-container .scroll .scroll-content .scroll-card {
    width: 150px;
  }
  .home-principal-section .subsection-container .scroll .scroll-content .scroll-card img {
    width: 150px;
  }
  .home-principal-section .subsection-container .scroll-recipe .scroll-content {
    width: 100%;
    overflow-x: hidden;
  }
}/*# sourceMappingURL=home-principal-section.css.map */